# Switch PHP versions
phpv() {
#	valet stop

	brew services stop php@8.0
	brew services stop php@8.1

	brew unlink php@8.0 php

	brew services cleanup

	brew link $1

	brew services start $1

	composer global update
#	valet install
}

function tinker()
{
	if [ -z "$1" ]
		then
			php artisan tinker
		else
			php artisan tinker --execute="dd($1);"
	fi
}

# All the dig info
function digga()
{
	dig +nocmd "$1" @8.8.8.8 any +multiline +noall +answer
}

function digit()
{
	module="$2"

	if [ -z "$module" ]; then
		module="ANY"
	fi

	echo "$1" | zdns $module --name-servers=8.8.8.8,8.8.4.4 --threads=1 | jq
}

function weather()
{
   city="$1"

   if [ -z "$city" ]; then
      city="Nijmegen"
   fi

   eval "curl http://wttr.in/${city}"
}

# Scrape a single webpage with all assets
function scrapeUrl() {
    wget --adjust-extension --convert-links --page-requisites --span-hosts --no-host-directories "$1"
}

function curlCert() {
	if [ "${1:0:8}" = "https://" ]; then
		URL="${1}"
	else
		URL="https://${1}"
	fi

	curl -v -o --silent --insecure /dev/null $URL 2>&1 | grep 'Server certificate:' -A 5
}
